MENTISDB_DIR={{ mentisdb_data_dir }}
MENTISDB_BIND_HOST=127.0.0.1
MENTISDB_MCP_PORT=9471
MENTISDB_REST_PORT=9472
MENTISDB_HTTPS_MCP_PORT=0
MENTISDB_HTTPS_REST_PORT=0
MENTISDB_DASHBOARD_PORT=9475
MENTISDB_STARTUP_SOUND=false
MENTISDB_THOUGHT_SOUNDS=false
RUST_LOG=info
